  /*heading1*/
  h1 {
    color: #7161EF;
    text-align: center;
    background-color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5em;
    /*text-shadow: 3px 3px 3px #ababab;*/
  }
  /*heading2*/
  h2
  {
    color: #673DA8;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
    margin-top: .3em;
    margin-bottom: .3em;
  }

  /*heading3*/
  h3
  {
    color: #673DA8;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    /*margin-top: .3em;
    margin-bottom: .3em;*/
  }

  /* Navigation color */
  ul {
      list-style-type :none;
      margin: auto;
      padding: 0;
      overflow: hidden;
      background-color: #673DA8;
      font-family: 'Open Sans Condensed', sans-serif;
      /*color: white;*/
  }

  /*each list item*/
  li {
    float: left;
    border: 1px solid #bbb;
    text-align: center;
  }

  /* Each list item in navigation */
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 8px 16px;
      text-decoration: none;
      margin: auto;
      font-size: 25px;
  }

  /* Changes color when hovering over not active tab*/
  li a:hover:not(.active) {
    background-color: white;
    color: #555;
  }

  /*background white*/
    body {
      background-color: white;
    }

    /*all div styles*/
    .Group {
      width: 70%;
      padding: 1em;
      margin-bottom: 2em;
      margin-top: .5em;
      margin-left:auto;
      margin-right:auto;
      display:block;
      background-color: #DEC0F1;
    }

    /*keeping images inline*/
img {
  display: inline;
}

/*paragraph*/
p{
  font-family: 'Merriweather', serif;
  text-align: center;
}

/*containers for project side by side*/
.container
{
  width: 70%;
  padding: 1em;
  margin-bottom: 2em;
  margin-top: .5em;
  margin-left:auto;
  margin-right:auto;
  display:block;
  background-color: #DEC0F1;
  display:flex;
  align-items: center;
  justify-content: center;
}

/*centering profile picture*/
#profile-pic
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*fitting the table*/
table{
  font-family: 'Merriweather', serif;
  margin-left: auto;
  margin-right:auto;
  width: 65%;
}

/*center the icons at the contact me*/
.contact-icons
{
  text-align: center;
  vertical-align: baseline;
}

/*for mobile screens*/
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: inline-block;
  }
  .container {
    width: 90%;
    display:block;
  }
  img {
    max-width: 90%;
  }
  .Group {
    max-width: 90%;
  }
}
